/* .landing-container {
  background-image: url(../../images/reg-pics/IMG_3070.PNG);
} */

.landing-header {
  font-family: "Cookie", cursive;
  font-size: 6rem;
  /* padding-top: "7%"; */
  /* color: #bfbfbf; */
}
.landing-container {
  position: relative;
  text-align: center;
  /* color: white; */
  padding-bottom: 3%;
}
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-subtext {
  padding-bottom: 5%;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  color: #bfbfbf;
}

.landing-video-text {
  /* color: #bfbfbf; */
  font-family: "Playfair Display", serif;
}
.landing-about {
  color: #bfbfbf;
  /* border: 1px solid blue; */
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 4%;
  font-family: "Playfair Display", serif;
  /* width: 80%; */
  /* text-align: center; */
  /* justify-content: center;
  align-items: center; */
}
/* .landing-photo-reel {
  padding-top: 8%;
  font-size: 1.6rem;
  font-family: "Playfair Display", serif;
  min-width: 100vw;
} */
/* .landing-photos {
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */

@media (max-width: 450px) {
  .landing-div {
    padding-top: 15%;
  }
  .landing-videos {
    display: flex;
    flex-direction: column;
  }
  .landing-photos {
    display: flex;
    flex-direction: column;
  }
  .landing-header {
    font-size: 4rem;
  }
  .picture {
    /* min-width: 100vw; */
    /* width: 100%; */
    /* border: 2px solid red; */
  }
}
