.about-spacing {
  padding-top: 7%;
}
.about-header {
  font-family: "Cookie", cursive;
  font-size: 4.6rem;
  color: #f44336;
}
.new-about-header {
  font-weight: bold;
  font-size: 1.4rem;
}
.text-left {
  /* font-family: "Playfair Display"; */
  padding-top: 5.5%;
}
.about-para {
  color: #b2b2b2;
}
.about-pics {
  width: 50%;
}
.offers {
  text-align: left;
  /* font-family: "Playfair Display", serif; */
}
@media (max-width: 1024px) {
  .about-spacing {
    padding-top: 7%;
  }
}
@media (max-width: 820px) {
  .about-spacing {
    padding-top: 10%;
  }
}
@media (max-width: 450px) {
  .about-spacing {
    padding-top: 17%;
  }
  .about-content {
    flex-direction: column;
  }
  .about-pics {
    width: 100%;
  }
}
