.contact-heading {
  font-family: "Cookie", cursive;
  color: #f44336;
  padding-top: 7%;
  justify-content: center;
}
.contact-heading h2 {
  font-size: 3rem;
}
.text-center {
  color: #bfbfbf;
  font-family: "Playfair Display", serif;
}
.d-flex {
  width: 100%;
}
@media (max-width: 1024px) {
  .contact-heading {
    padding-top: 7%;
  }
}
@media (max-width: 820px) {
  .contact-heading {
    padding-top: 10%;
  }
}
@media (max-width: 450px) {
  .contact-heading {
    padding-top: 17%;
  }
  .dempseys-pic {
    padding-bottom: 5%;
  }
  .contact-form {
    flex-direction: column;
  }
}
