ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.carousel-container {
  padding-top: 30%;
  /* background: black; */
}
.carousel__arrow {
  position: absolute;
  top: 50%;
  display: block;
  color: #111;
  cursor: pointer;
  opacity: 0.75;
  transform: translateY(-50%);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);
}
.carousel__arrow:focus {
  outline: 0;
}
.carousel__arrow:hover {
  opacity: 0.5;
}
.carousel__arrow--left {
  left: 32px;
}
.carousel__arrow--right {
  right: 32px;
}
.carousel__slide {
  margin-right: auto;
  margin-left: auto;
  display: none;
  max-width: 900px;
  list-style-type: none;
  text-align: center;

  @media (max-width: 991px) {
    padding-right: 60px;
    padding-left: 60px;
  }

  /* &--active {
      display: block;
    } */
}
.carousel__slide--active {
  display: block;
}
.carousel {
  position: relative;
  /* background: black;
  border: 1px solid red; */
}

.carousel__indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.carousel__indicators li:nth-of-type(n + 2) {
  margin-left: 9px;
}
.carousel__indicator {
  display: block;
  width: 24px;
  height: 3px;
  background-color: #111;
  cursor: pointer;
  opacity: 0.15;
  transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);
}
.carousel__indicator:hover {
  opacity: 0.5;
}
.carousel__indicator--active,
.carousel__indicator--active:hover {
  opacity: 0.75;
}
